#cornerBanner {
        color: #000000;
        background-color: #0575E8;
        -moz-box-shadow: 2px 2px 20px #888;
        -moz-transform: rotate(-45deg);
        -moz-transform-origin: 50% 50%;
        -webkit-transform: rotate(-45deg);
        -webkit-transform-origin: 50% 50%;
        position: absolute; 
        width: 300px;
        top: 45px;
        left: -95px;
        text-align: center;
      }
	  
#cornerBanner2 {
        color: #000000;
        background-color: #0575E8;
        -moz-box-shadow: 2px 2px 20px #888;
        -moz-transform: rotate(-45deg);
        -moz-transform-origin: 50% 50%;
        -webkit-transform: rotate(-45deg);
        -webkit-transform-origin: 50% 50%;
        position: absolute; 
        width: 350px;
        top: 55px;
        left: -95px;
        text-align: center;
      }